body {
/*    background-color: #EEEEEE;*/
}

.svg {
    border: 1px solid black;
}


/**TEXTURES FOR DISPLAY**/
.grass {
    position: absolute;
    width: 20px;
    background-size: 20px 20px;
    height: 20px;
    background-image: url("grass.png");
}

.rock {
    position: absolute;
    width: 20px;
    background-size: 20px 20px;
    height: 20px;
    background-image: url("rock.jpg");
}
.mine {
    position: absolute;
    width: 20px;
    background-size: 20px 20px;
    height: 20px;
    background-image: url("mine.png");
}

.person {
    position: absolute;
    width: 20px;
    background-size: 20px 20px;
    height: 20px;
    background-image: url("person.jpg");
}

.player {
    position: absolute;
    width: 20px;
    background-size: 20px 20px;
    height: 20px;
    background-image: url("player.jpg");
}

.potion {
    position: absolute;
    width: 20px;
    background-size: 20px 20px;
    height: 20px;
    background-image: url("http://img1.wikia.nocookie.net/__cb20130221134729/book-of-heroes/images/3/34/Cleansing_Potion.jpg");
}

.current_tool {
    font-weight:bold;
}
