body {
/*    background-color: #EEEEEE;*/
}

.svg {
    border: 1px solid black;
}


/**TEXTURES FOR DISPLAY**/
.grass {
    position: absolute;
    width: 20px;
    background-size: 20px 20px;
    height: 20px;
    background-image: url("images/grass.png");
}

.rock {
    position: absolute;
    width: 20px;
    background-size: 20px 20px;
    height: 20px;
    background-image: url("images/rock.jpg");
}
.structure {
    position: absolute;
    width: 20px;
    background-size: 20px 20px;
    height: 20px;
    background-image: url("images/structure.jpg");
}

.blue_base {
    position: absolute;
    width: 20px;
    background-size: 20px 20px;
    height: 20px;
    background-image: url("images/bluebase.jpg");
}
.fifty_blue_base {
    position: absolute;
    width: 20px;
    background-size: 20px 20px;
    height: 20px;
    background-image: url("images/greenbase.png");
}
.red_base {
    position: absolute;
    width: 20px;
    background-size: 20px 20px;
    height: 20px;
    background-image: url("images/redbase.png");
}
.fifty_red_base {
    position: absolute;
    width: 20px;
    background-size: 20px 20px;
    height: 20px;
    background-image: url("images/orangebase.png");
}
.red {
    position: absolute;
    width: 20px;
    background-size: 20px 20px;
    height: 20px;
    background-image: url("images/red_frame.png");
}
.blue {
    position: absolute;
    width: 20px;
    background-size: 20px 20px;
    height: 20px;
    background-image: url("images/blue_frame.png");
}
.red_lava {
    position: absolute;
    width: 20px;
    background-size: 20px 20px;
    height: 20px;
    background-image: url("images/redlava.jpg");
}

.blue_lava {
    position: absolute;
    width: 20px;
    background-size: 20px 20px;
    height: 20px;
    background-image: url("images/bluelava.jpg");
}
.mine {
    position: absolute;
    width: 20px;
    background-size: 20px 20px;
    height: 20px;
    background-image: url("images/mine.png");
}

.person {
    position: absolute;
    width: 20px;
    background-size: 20px 20px;
    height: 20px;
    background-image: url("images/person.jpg");
}

.player {
    position: absolute;
    width: 20px;
    background-size: 20px 20px;
    height: 20px;
    background-image: url("images/player.jpg");
}

.potion {
    position: absolute;
    width: 20px;
    background-size: 20px 20px;
    height: 20px;
    background-image: url("images/potion.png");
}
.targ {
    position: absolute;
    width: 20px;
    background-size: 20px 20px;
    height: 20px;
    background-image: url("images/redx.jpg");
}

/* for path of a laser, first if fired horizonatally, then vertically*/
.path_v {
    position: absolute;
    width: 20px;
    background-size: 20px 20px;
    height: 5px;
    background-image: url("images/red.png");
}
.path_h {
    position: absolute;
    width: 5px;
    background-size: 20px 20px;
    height: 20px;
    background-image: url("images/red.png");
}
.p_arrow {
    position: absolute;
    width: 20px;
    background-size: 20px 20px;
    height: 20px;
    background-image: url("images/reload.png");
}

.p_mine {
    position: absolute;
    width: 20px;
    background-size: 20px 20px;
    height: 20px;
    background-image: url("images/p_mine.jpg");
}
.current_tool {
    font-weight:bold;
}

td {
    width: 80px;
    border-style: solid;
    border-width: 5px;
}
